// COLORS
$primary-color: #01e601;
$primary-color-light: #7ed56f;
$primary-color-medium: #55c57a;
$primary-color-dark: #28b485;
$color-grey-dark: #777777;
$color-white: #ffffff;
$color-balck: #000000;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #999999;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// GRID
$grid-width: 114rem;
$gutter-horizontal: 8rem;
$gutter-vertical: 6rem;

// FONT
$default-font-size: 1.6rem;
